#no_jobs{
    display: flex;
    margin: 52px 3em 5em 3em;
}

#no_jobs img{
    width: 55vw;
}

.text{
    align-self: center;
}

#no_jobs p, h2{
    margin: 0 0 .5em 0;
}

.form{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.form iframe{
    margin: 1em;
    width: 45vw;
    height: 600px;
    
}

#request img{
    width: 45vw;
    margin: 0 1em 0 0;
}

#request h2{
    font-size: 24px;
    color: rgb(66, 117, 255);
    margin: 0 0 .5em 1em;
}



@media screen and (max-width: 998px) {
    #no_jobs img{
        width: 55%;
    } 
}

@media screen and (max-width: 767px) {
    html{
        font-size: 60%;
    }

    .form iframe{
        width: 100vw;
        height: 100vh;
    }
    
    #request img{
        width: 100vw;
        margin: 0;
    }
}


