.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    margin-top: 40px;
  }

.swiper-button-prev,.swiper-button-next{
    background-color: rgba(127, 255, 212, 0.300);
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    box-shadow: -2px 2px 5px -3px rgba(0,0,0,0.75);
}

.swiper-button-prev:after,.swiper-button-next:after{
  font-size: 20px;
  font-weight: 900;
}

/* .swiper-pagination{
  box-shadow: -2px 2px 5px -3px rgba(0,0,0,0.75);
} */

.cards{
  display: flex;
  justify-content: center;
}

.cards div{
  width: 180px;
  /* height: 200px; */
  padding: 1em 3em;
  margin: .5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cards p{
  text-align: center;
  font-weight: 500;
}

.cards img{
  width: 130px;
  margin: .5em;
  filter: drop-shadow(2px 2px 1px rgba(0, 57, 57, 0.8));
}

.title{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 2em 0;
}

/*...............photo..................................*/

h4{
    font-size: 28px;
    font-weight: 500;
}

.compar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: default;
}

.slide,.twentytwenty-container{
  width: 600px;
  border-radius: 5px;
}

.slide{
  padding: .5em 0;
  margin: 1em;
}

.details{
  margin: 2em 0;
}

.t-c_photo{
  margin: 2em;
}
.t-c_photo h1,.why h1{
  font-size: 30px;
  font-weight: 400;
  margin: .5em;
}

.why{
  margin: 5em 1em;
}

.why li{
  margin: 1em;
}

.why strong{
  color: var(--blue);
}

@media screen and (min-width:950px) {
  .why li{
    max-width: 50vw;
  }
}

.why div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.why img{
  height: 500px;
}

/* ...................extra................ */

.extra{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em 3em;

}

.extra img{
  height: 200px;
  margin: 5px;
  /* object-fit: cover; */
  transition: all 1s;
}

.extra img:hover{
   scale: 1.05;
}

.extra:has(img:hover) img:not(:hover){
  opacity: 0.6;
  scale: 0.95;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show-more .more {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-more .toggle-btn:before {
  content: "Show Less";
}

.show-less .more {
  display: none;
}

.show-less .toggle-btn:before {
  content: "Show More";
}

.toggle-btn{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  color: white;
  border: none;
  max-width: 150px;
  position: relative;
  left: 45%;
  right: 50%;
  margin: 1em;
  padding: 10px 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.7);
}

.toggle-btn:active{
  opacity: .5;
}

.toggle-btn img{
  padding: .5em;
  height: 1em;
}

.show-more .toggle-btn img{
  transform: rotate(180deg);
}

.show-less .toggle-btn img{
  transform: rotate(0deg);
}


@media screen and (max-width:950px) {
  .swiper-slide img {
    height: 40vh;
  }

  .title{
    font-size: 25px;
    margin: 1em 0;
  }
}

@media screen and (max-width:768px){
.cards div{
  padding: .5em;
  font-size: 14px;
}

.cards img{
  width: 60px;
}

h4{
  font-size: 20px;
  margin-bottom: .5em;
}

.slide,.twentytwenty-container{
  width: 90vw;
  border-radius: 5px;
}

  .extra{
    margin: .5em;
  }

  .extra img{
    height: 120px;
  }
  
}